@charset "UTF-8";
/* CSS Document */

html, body {
  margin: 0px;
}

.clear {
  clear: both;
}

#wrapper {
  width: 100%;
  max-width: 960px;
  margin: auto;
}


/*---------- HEADER ----------*/

header {
  height: 300px;
  width: 100%;
  background: #ebc311;
}


/*---------- CONTENT AREA ----------*/

.col-3 {
  width: 100%;
  height: 320px;
  float: left;
}

#column-1 {
  background: #1656a0;
}

#column-2{
  background: #19b3b3;
}

#column-3{
  background: #961ac7;
}


/*---------- FOOTER ----------*/

footer {
  width: 100%;
  height: 30px;
  background: #1ec50f;
}


/*---------- TABLET ----------*/
/* Change the colors below */

@media (min-width: 768px) {
  header {
    background-color: rgb(238, 169, 169);
  }

  #column-1 {
    background-color: #b6da19;
  }

  #column-2 {
    background-color: rgb(231, 156, 228);
  }

  #column-3 {
    background-color: rgb(46, 8, 8);
    width: 100%;
  }

  footer {
    background-color: rgb(82, 18, 78);
  }

  .col-3 {
    width: 50%;
  }
}


/*---------- Desktops ----------*/
@media (min-width: 1200px) {
  header {
    background-color: rgb(41, 168, 24);
  }

  #column-1 {
    background-color: rgba(93, 107, 41, 0);
  }

  #column-2 {
    background-color: rgba(28, 83, 100, 0);
  }

  #column-3 {
    background-color: rgb(82, 13, 45);
    width: 33.3%;
  }

  footer {
    background-color: rgba(157, 226, 231, 0);
  }

  .col-3 {
    width: 33.3%;
  }
}
